<!-- phần footer -->
<footer>
    <section class="myfrome bg-dark text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Tổng đài hỗ trợ miễn phí
                    </h3>
                    <ul class="list-menu">
                        <li>Gọi mua hàng 1800.2097 (7h30 - 22h00)</li>
                        <li>Gọi khiếu nại 1800.2063 (8h00 - 21h30)</li>
                        <li>Gọi bảo hành 1800.2064 (8h00 - 21h00)</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Thông tin và chính sách</h3>
                    <ul class="list-menu">
                        <li>Mua hàng và thanh toán Online</li>
                        <li>Mua hàng trả góp Online</li>
                        <li>Mua hàng trả góp bằng thẻ tín dụng</li>
                        <li>Chính sách giao hàng</li>
                        <li>Tra điểm Smember</li>
                        <li>Xem ưu đãi Smember</li>
                        <li>Tra thông tin bảo hành</li>
                        <li>Tra cứu hoá đơn điện tử</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Dịch vụ và thông tin khác</h3>
                    <ul class="list-menu">
                        <li>Khách hàng doanh nghiệp (B2B)</li>
                        <li>Ưu đãi thanh toán</li>
                        <li>Quy chế hoạt động</li>
                        <li>Chính sách Bảo hành</li>
                        <li>Liên hệ hợp tác kinh doanh</li>
                        <li>Tuyển dụng</li>
                    </ul>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </section>
</footer>
