<!-- link css -->
<link rel="stylesheet" href="./CSS/asm.css" />

<!-- Navbar -->
<div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container-fluid">
            <ul class="navbar-nav d-flex align-items-center">
                <li class="nav-item">
                    <a
                        class="navbar-brand"
                        href="#!/trang-chu"
                        title="Trang chủ"
                    >
                        <img
                            src="./image/Logo.png"
                            alt="Logo CellPhoneS"
                            style="height: 100px; width: 200px"
                        />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/trang-chu"
                        >Trang chủ</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""
                        >Liên hệ</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""
                        >Đặt hàng</a
                    >
                </li>
            </ul>
        </div>
    </nav>
</div>
